<div *ngIf="!previewMode">
  <form class="flex w-full justify-end">
    <h4 class="font-medium text-lg mr-3 mt-3">Sort by</h4>
    <mat-form-field appearance="fill">
      <mat-label>Filter</mat-label>
      <mat-select [(ngModel)]="seletectedFilter" name="food">
        <mat-option
          (click)="onSelectFilter()"
          *ngFor="let option of filterOptions"
          [value]="option.value"
        >
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div class="product-grid">
  <div class="m-0 p-0" *ngFor="let product of products">
    <app-product [product]="product"></app-product>
  </div>
</div>

<div *ngIf="products.length === 0" class="not-found">
  <h3 class="text-center font-medium text-3xl">
    We are sorry but there are no products...
  </h3>
</div>

<mat-paginator
  *ngIf="products.length > 0"
  (page)="onNextPage($event)"
  class="mt-5"
  [length]="pageLength"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
>
</mat-paginator>
