@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "~@angular/material/prebuilt-themes/indigo-pink";
@import "~ngx-toastr/toastr";

body {
  font-family: "Open Sans", sans-serif;
}

mat-input-element,
mat-input-element:focus {
  outline: none !important;
  border: none !important;
}

.mat-title {
  margin-top: 0.6rem !important;
  margin-left: 0.9rem !important;
}

.mat-card-image {
  margin: 0.5rem auto !important;
}
