<mat-sidenav-container fullscreen (backdropClick)="close()">
  <mat-sidenav class="sidenav" #sidenav (keydown.escape)="close()" disableClose>
    <ng-container *ngIf="!loggedIn">
      <h4 class="mat-title">General</h4>
      <mat-nav-list>
        <a mat-list-item [routerLink]="['/login']">Login</a>
        <a mat-list-item [routerLink]="['/sign-up']">Signup</a>
      </mat-nav-list>
    </ng-container>
    <ng-container *ngIf="loggedIn">
      <h4 class="mat-title">Profile</h4>
      <mat-nav-list>
        <a (click)="onLogout()">Logout</a>
        <a mat-list-item>Shopping Cart</a>
        <a mat-list-item>Account</a>
        <a mat-list-item>Orders</a>
      </mat-nav-list>
    </ng-container>
    <h4 class="mat-title">Categories</h4>
    <mat-nav-list>
      <a
        *ngFor="let category of categories"
        mat-list-item
        [routerLink]="['/category', category.id, 'products']"
        >{{ category.categoryName }}</a
      >
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <app-header (sidebarToggle)="sidenav.open()"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
