<div class="custom-container">
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>Login to your account</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="showSpinner">
      <mat-spinner class="mx-auto" [color]="'accent'"></mat-spinner>
    </mat-card-content>
    <mat-card-content *ngIf="!showSpinner">
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field class="field">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="johnDoe"
            formControlName="username"
            autofocus
          />
          <mat-error
            *ngIf="
              loginForm.get('username').invalid &&
              loginForm.get('username').touched
            "
          >
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field class="field">
          <mat-label>Password</mat-label>
          <input
            [type]="showPassword ? 'text' : 'password'"
            matInput
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="showPassword = !showPassword"
          >
            <mat-icon>{{
              showPassword ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              loginForm.get('password').invalid &&
              loginForm.get('password').touched
            "
          >
            Password is required
          </mat-error>
        </mat-form-field>
        <button [disabled]="loginForm.invalid" mat-button [type]="'submit'">
          Login
          <mat-icon>how_to_reg</mat-icon>
        </button>
        <span>
          Not registered?
          <a
            [routerLink]="['/sign-up']"
            [type]="'button'"
            mat-button
            [color]="'accent'"
          >
            Sign Up
          </a>
        </span>
      </form>
    </mat-card-content>
  </mat-card>
</div>
